////////////Reset
* {
  margin: 0;
  padding: 0;

}

*:focus {
  outline: none;
}


//////////////Typography////////////////////////////
html {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  
}


h1 {
  font-size: 2.3rem;
  font-weight:600;
  line-height: 130%;
}

h2 {
  font-size: 2rem;
  font-weight:600;
  line-height: 120%;

}

// h3 {

// }

// h4 {

// }

p {
  font-size: 1.5rem;
  font-weight:400;
  line-height: 165%;
}

p.tagLine {
  font-weight:400;
  font-size:1.2rem;
  font-style: italic;
  
  
}

///////////////////////Colors////////////////////////
$primary-Dark: #0F1B2B;
$primary-Dark-light: #212E3E;
$secondary-dark:#101824;
$tertiary-color:#145A5E;
$accent: #0ACAD6;
$accent-2:rgba(10, 202, 214, 0.5);
$white: #fff;
$text-Light: rgb(255 255 255 / .8);
$text-Dark:#141C20;
.textWhite {
  color:$white;
}
.textLight {
  color:$text-Light;
}

.textAccent {
  color:$accent;
}


body{
  background-color:$primary-Dark;
}
.container {
  max-width: 1040px;
}

.btn {
  margin-top:1rem;
  background-color: $accent;
  color: $text-Dark;
  padding:1rem 1.5rem;
  border-radius: .6rem;
  border:none;
  font-size:1.1rem;
  font-weight:600;
  width:fit-content;
  cursor: pointer;

  &:hover {
    background-color:$accent-2;
  }

  
}

.btn-Secondary {
    border:2px solid $accent;
    border-radius:.6rem;
    padding:.6rem 1.5rem;

    &:hover {
      border-color: rgba(10, 202, 214, 0.5);
    }
}

header {
  background-color:$primary-Dark-light;
  padding:1rem 1rem 1rem 1rem;
  
  

  .container {
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
  }
  

  .dMenu {

    display: none;
  }

  #toggle {
  
    color:#fff;
    font-size:2rem;
    z-index: 1001;
  }

  .rMenu {
    position:absolute;
    background-color: $tertiary-color;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    flex-direction: column;
    justify-content: center;

    ul{
    li {
      
      text-align:center;
      margin-top:1rem;
      margin-bottom:1rem;
      a{
        font-size:1.5rem;
        text-decoration: none;
        color:$white;

      }
    }
  }
  }
  
}
.typed-cursor {
  opacity: 1;
  font-weight: 400;
  animation: blink .7s infinite;
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
#hero {
  display:flex;
  justify-content: center;
  max-height:550px;
  

  .container {
    width:100%;
    padding:0rem 1rem 1rem 1rem;
    display:flex;
    flex-direction: column-reverse;
    justify-content:center ;
    
    

    .hero-right {
      
      margin-bottom:2rem;
      display: flex;
      

      img {
        width:150px;
      }
    }
  }
  
  

}

#work {
  background-color:$secondary-dark;
  display:flex;
  justify-content: center;
  padding:0 1rem;


  .container {
    width:1040px;
   
  }
}




@media only screen and (min-width: 600px) {

  .btn {
    width:fit-content;
    }
  .header {
    .container {
      #toggle{
        display:none;
      }
      

      .dMenu {
        display:flex;

        ul {
          list-style: none;
          display:flex;
          flex-direction: row;
          li {
            display:inline;
            padding-left:2rem;
            margin:auto 0;
            

            a{
              color:$white;
              text-decoration: none;
              font-size:1rem;
              
             

            }
             
            
          }
        }
      }
    }
  }

  
  h1 {
    font-size:3rem;
  }

  #hero{
    
    max-height:none;
    height:80vh;

    .container {
      flex-direction:row;
      padding-top:2rem;
      
      align-items: center;
     
      
      .hero-left {
        width:100%;
        
        

      }

      .hero-right{

        img {
          width:315px;
        }
      }

     

    }

    
  }

  

 }

