////////////Reset
* {
  margin: 0;
  padding: 0;

}

*:focus {
  outline: none;
}


//////////////Typography////////////////////////////
html {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  
}


h1 {
  font-size: 2.3rem;
  font-weight:600;
  line-height: 130%;
}

h2 {
  font-size: 2rem;
  font-weight:600;
  line-height: 120%;

}

.big-title {
  font-size:5rem;
}

.small-title {
  font-size:2rem;
}

// h3 {

// }

// h4 {

// }

p {
  font-size: 1.5rem;
  font-weight:400;
  line-height: 165%;
}

p.tagLine {
  font-weight:400;
  font-size:1.2rem;
  font-style: italic;
  
  
}

///////////////////////Colors////////////////////////
$primary-Dark: #0F1B2B;
$primary-Dark-light: #212E3E;
$secondary-dark:#101824;
$tertiary-color:#145A5E;
$accent: #0ACAD6;
$accent-2:rgba(10, 202, 214, 0.5);
$white: #fff;
$text-Light: rgb(255 255 255 / .8);
$text-ultra-light: rgba(255, 255, 255, 0.1);
$text-Dark:#141C20;
$text-light-new: #CAD2E2;

.textWhite {
  color:$white;
}
.textLight {
  color:$text-Light;
  
}

.textUltraLight {
  color:$text-ultra-light;
}

.textAccent {
  color:$accent;
}

.textSecondaryDark {
  color:$secondary-dark
}


body{
  background-color:$primary-Dark;
}
.container {
  max-width: 1040px;
  margin: 0 auto;
    // display:flex;
    // justify-content: space-between;
    // align-items: center;
  
}

.btn {
  display:inline-block;
  background-color: $accent;
  padding:1rem 1.8rem;
  border-radius: .6rem;
  width:100%;
  margin-top:1rem;
 
  box-sizing: border-box;
  text-decoration:none;
  
  font-weight:600;
  font-size:1.2rem;
  color:$text-Dark;
  text-align:center;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  // 
  // 
  // color: $text-Dark;
  // 
  // 
  // border:none;
  // 
  // font-weight:600;
  // width:auto;
  // align-content: center;
  

  &:hover {
    //background-color:$accent-2;
    background-color:#259FA7;
  }

  
}

.btn-Secondary {
    border:2px solid $accent;
    border-radius:.6rem;
    padding:.6rem 1.5rem;
    transition: border-color 0.2s ease-in;

    &:hover {
      border-color: rgba(10, 202, 214, 0.5);
    }
}

header {
  background-color:$primary-Dark-light;
  padding:1rem 1rem 1rem 1rem;
  
  

  .container {
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
  }
  

  .dMenu {

    display: none;
  }

  #toggle {
  
    color:#fff;
    font-size:2rem;
    z-index: 1001;
  }

  .rMenu {
    position:absolute;
    background-color: $tertiary-color;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    flex-direction: column;
    justify-content: center;

    ul{
    li {
      
      text-align:center;
      margin-top:1rem;
      margin-bottom:1rem;
      a{
        font-size:1.5rem;
        text-decoration: none;
        color:$white;

      }
    }
  }
  }
  
}
.typed-cursor {
  opacity: 1;
  font-weight: 400;
  animation: blink .7s infinite;
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
#hero {
  display:flex;
  justify-content: center;
  height:max-content;
  padding-top: 2rem;
  padding-bottom: 2rem;
  
  

  .container {
    width:100%;
    padding:0rem 1rem 1rem 1rem;
    display:flex;
    flex-direction: column-reverse;
    justify-content:center ;
    
    

    .hero-right {
      
      margin-bottom:2rem;
      display: flex;
      

      img {
        width:60%;
      }
    }
  }
  
  

}
.Wcontainer {
      margin-bottom:5rem;

      .tcontainer {
        position:relative;
      }
    
      .big-title-light{
        color:#fff;
      }
    
      .small-title{
        position:absolute;
        top: 50px;
        border-bottom: #0ACAD6 5px solid;;
      }
    }

.card {
      background-color:#172130;
      //background-color:#222E40;
      border-radius: 0.625rem;
      box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.30);
      transition: all .2s ease-in-out;
      margin-bottom:3rem;
}

#work {
  background-color:$secondary-dark;
  display:flex;
  justify-content: center;
  padding:3rem 1rem;


  .container {
    width:100%;
    // padding:0rem 1rem 1rem 1rem;
    display:flex;
    flex-direction: column;
    justify-content:center ;
   
    
  }

  .card {
    // background-color:#172130;
    // //background-color:#222E40;
    // border-radius: 0.625rem;
    // box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.30);
    // transition: all .2s ease-in-out;
    // margin-bottom:3rem;


    &:hover {
      background-color:#222E40;
      transform:scale(1.02);
    }

    .Ccontainer {
      display: flex;
      padding: 2rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      // align-self: stretch;
     

      .card-left {
        display:flex;
        flex-direction: column;
        gap: 1.5625rem;
        
        
  
  
        // 
        // ;
        .work-title {
          display: flex;
          align-items: flex-start;
          gap: 1rem;
         align-self: stretch;

         .holder {
          display:flex;
          flex-direction:column;
          gap:.4rem;
           span.companyTitle {
            font-size:1.125rem;
           
            }
        }

        }
        p.card-description {
          font-size:1.25rem;
        }
    }
    .card-right img {
      border-radius:.5rem;
      height:275px
      
    }
    }
  }
}

.about {
  background: linear-gradient(107deg, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 1) 50%, rgba(215, 235, 238, 1) 50%, rgba(215, 235, 238, 1) 100%);
}

.footer {
  text-align: center;
  background-color: #141D2B;
  padding: 25px 10px 10px 10px;
  margin-top: 2rem;


}

.footer-logo {
  margin-bottom: 5px;

}

.social-media {

  margin-top: 10px;
  
  text-align: center;

}

.social-media a {
  margin: 0px 10px 0px 10px;


}

.footer .tagline em {
  font-size:1.25rem;
  color: $text-Light;
  margin: 0px 0px 10px 0px;
}

.footer-tagline p em span:first-child {
  margin-left: 0;

}

.copyright span {
  font-size: .75em;
  color: #fff;
  margin-top: 20px;


}


//project page

.project-header {
  width: 100%;
  
  background-image: url("");
  
  height:60vh;
  overflow:hidden;
 width:100%;
    background-size:contain;
  // background-position: center;
  background-repeat: no-repeat;
     min-height: 450px;
  // max-height: 60vh;

  
}

.pContainer {
  max-width:764px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
  // color:#DBE2F0;
  .Wcontainer {
    margin-bottom:2rem;
  }
  p{
    color:$text-light-new;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 165%; /* 2.25rem */
    
    margin-bottom:2rem;
  }

  ol {
    margin-left:3rem;
    margin-right:3rem;
    padding-left:2rem;
    font-size:1.5rem;
    margin-bottom:3rem;
  }
  ol li{
    font-weight:300;
    color:#DBE2F0;
    padding-left:1rem;
    margin-bottom:1rem;
    
  }
  ol .innerList{
    margin-left:0px;
    
  }

}

.proTitle {
  font-size: 3rem;
  margin-bottom:1.5rem;
  margin-top:1.6rem;
}

p.proInfo {
  margin-bottom: 0px;
}
.secImage {
  margin:2rem auto;
  
  
  .medImgContainer{
    max-width: 990px;
    margin: 0 auto;
    
    .lightb {

      img {
        border-radius:10px;
        width:100%;
        height:auto;
      }
    }
  }

  .lrgImgContainer {
    
    
    
  
  }
  .lrgImgContainer img {
    width:100%;
    height:auto;
  }

  
}


.secImage figcaption {
  padding-top:.5rem;
  text-align: center;
}
.slicer{
  height:50vh;
  margin:0;
  width:100%;
}

.smlCard {
  text-decoration: none;
  width: 45%;
  display: inline-block;
  background-color: #172130;
  border-radius: 1rem;
  padding:1rem 2rem;
  box-sizing: border-box;
  position:relative;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, .10);
  transition: all .2s ease-in-out; 

  &:hover {
    background-color:#222E40;
    transform:scale(1.02);
  }


}

.leftB {
  margin-right:1.5rem;
  text-align: left;
}
.leftB span{
  margin-left:.5rem;
}

.rightB span{
  margin-right:.5rem;
}


.smlCard span {
  color:#fff;
  font-size:1.5rem;
  
}

.smlCard img {
  position:relative;
  top:.6rem;
}


.rightB {
  margin-right:1.5rem;
  text-align: right;
}


@media only screen and (min-width: 600px) {

  .btn {
    width:fit-content;
    }
  .header {
    .container {
      #toggle{
        display:none;
      }
      

      .dMenu {
        display:flex;

        ul {
          list-style: none;
          display:flex;
          flex-direction: row;
          li {
            display:inline;
            padding-left:2rem;
            margin:auto 0;
            

            a{
              color:$white;
              text-decoration: none;
              font-size:1rem;
              
             

            }
             
            
          }
        }
      }
    }
  }

  
  h1 {
    font-size:3rem;
  }

  #hero{
    
    // max-height:none;
     height:80vh;
     max-height:550px;
     padding-top: 0rem;
     padding-bottom: 0rem;
    .container {
      flex-direction:row;
      padding-top:2rem;
      
      align-items: center;
     
      
      .hero-left {
        width:100%;
        
        

      }

      .hero-right{

        img {
          width:315px;
        }
      }

     

    }

    
  }
  
  #work {
    background-color:$secondary-dark;
    display:flex;
    justify-content: center;
    padding:3rem 1rem;
  
  
    .container {
      
    
  
    .card {
      
  
      .Ccontainer {
        
        flex-direction: row;
        
  
        .card-left {
         
          
          .work-title {
            
          }
      }
      .card-right img {
        
      }
      }
    }
  }
  }

  

 }

